/*Global styles
-------------------------*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
}
.contentWrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 50px;
    overflow: hidden;
}
p {
    font-size: 25px;
    text-align: justify;
    text-indent: 10%;
}
h4 {
    font-size: 40px;
    text-transform: uppercase;
}
/*Slider
-------------------------*/
.slideShow {
    height: 100vh;
    margin: 0;
    padding: 0;
}
.slideShow,
.slideShow > li  {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.slideShow > li {
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.slideShow > li.active {
    opacity: 1;
}
/*NavBar
-------------------------*/
.navBar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    max-width: 1100px;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    white-space: nowrap;
}
.navBar a:hover{
    color: #1dd2af;
}
.smallLogo {
    height: 40px;
    margin: 8px;
    border: 1px solid white;
}
.menuBackground {
    background-color: #141316;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
}
/*Main Page
-------------------------*/
.contentWrap .mainPage {
    height: 80vh;
}
.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
    margin-top: 50px;
}
.bigLogo, h1, h2, h3{
    opacity: 0;
    animation-name: makeVisible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}
.logoAnimation {
    position: relative;
    margin: 15px;
}
.line {
    background-color: white;
    position: absolute;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.line1 {
    width: 0%;
    height: 2px;
    top: 0; 
    animation-name: moveFromLeft;
}
.line2 {
    width: 2px;
    height: 0%;
    right: 0;
    top: 0;
    animation-name: moveFromTop;;
    animation-delay: 1s;
} 
.line3 {
    width: 0%;
    height: 2px;
    right:0;
    bottom: 0;
    animation-name: moveFromRight;
    animation-delay: 2s;
}
.line4 {
    width: 2px;
    height: 0%;
    left: 0;
    bottom: 0%;
    animation-name: moveFromBottom;
    animation-delay: 3s;
}
.mainPage h1 {
    font-size: 20px;
}
.mainPage h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.mainPage h3 {
    font-size: 15px;
}
/*About
-------------------------*/
.about {
    margin: 50px 0 0 0;
    color: #141316;
    background-color: #edf2f4;
}
.aboutDescription {
    padding: 0 0 50px 0;
}
/*Portfolio
-------------------------*/
.portfolio {
    background: linear-gradient(rgba(15, 15, 15, 0.8),
                                rgba(25, 25, 26, 0.5)),
                                url(../images/slider4.jpg) no-repeat fixed;
    background-position: 50% 50%;                            
    color: #edf2f4;
    padding: 50px 0;
}
.portfolio p {
    padding: 0 0 50px 0;
}
/*offer
-------------------------*/
.offer {
    padding: 50px 0;
    color: #141316;
    background-color: #edf2f4;
}
.offerDescription p{
    padding: 0 0 50px 0;
}
/* Animations
---------------------*/
@keyframes moveFromLeft {
    0% {width: 0px;}
    100% {width: 100%;}
}
@keyframes moveFromBottom {
    0% {height: 0px;}
    100% {height: 100%;}
}
@keyframes moveFromRight {
    0% {width: 0px;}
    100% {width: 100%;}
}
@keyframes moveFromTop {
    0% {height: 0px;}
    100% {height: 100%;}
}
@keyframes makeVisible {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* Media Queries
---------------------*/
@media (max-width: 767px) {
    .isMenuOpen .menu {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }
    .isMenuOpen .menu a {
        display: block;
    }
    .menu {
        display: none;
    }
    .isMenuOpen .menuBackground {
        height: 340px;
    }
    .smallLogo{
        position: absolute;
    }  
    .burger {
        position: fixed;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 2;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    .isMenuOpen .burger .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
        background-color: white;
    }   
    .isMenuOpen .burger .bar2 {opacity: 0;}

    .isMenuOpen .burger .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -8px);
        transform: rotate(45deg) translate(-9px, -8px);
        background-color: white;
    }
    p {
        font-size: 20px;
        text-align: left;
        padding: 0;
    }
    h4 {
        font-size: 30px;
        margin: 0;
    }
    .aboutDescription {
        padding: 0;
    }
    .portfolio p {
        padding: 0;
    }
}

